image: node:9.11.1

stages:
  - echo
  - deploy

variables:
  DESCRIPTION: "GitLab CIからのデプロイをテスト"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

before_script:
  - npm install

echo-environment-variables:
  stage: echo
  script:
    - echo $CI
    - echo $CI_COMMIT_REF_NAME
    - echo $CI_COMMIT_REF_SLUG
    - echo $CI_COMMIT_SHA
    - echo $CI_COMMIT_TAG
    - echo $CI_CONFIG_PATH
    - echo $CI_DEBUG_TRACE
    - echo $CI_DISPOSABLE_ENVIRONMENT
    - echo $CI_ENVIRONMENT_NAME
    - echo $CI_ENVIRONMENT_SLUG
    - echo $CI_ENVIRONMENT_URL
    - echo $CI_JOB_ID
    - echo $CI_JOB_MANUAL
    - echo $CI_JOB_NAME
    - echo $CI_JOB_STAGE
    - echo $CI_JOB_TOKEN
    - echo $CI_REPOSITORY_URL
    - echo $CI_RUNNER_DESCRIPTION
    - echo $CI_RUNNER_ID
    - echo $CI_RUNNER_TAGS
    - echo $CI_RUNNER_VERSION
    - echo $CI_RUNNER_REVISION
    - echo $CI_RUNNER_EXECUTABLE_ARCH
    - echo $CI_PIPELINE_ID
    - echo $CI_PIPELINE_TRIGGERED
    - echo $CI_PIPELINE_SOURCE
    - echo $CI_PROJECT_DIR
    - echo $CI_PROJECT_ID
    - echo $CI_PROJECT_NAME
    - echo $CI_PROJECT_NAMESPACE
    - echo $CI_PROJECT_PATH
    - echo $CI_PROJECT_PATH_SLUG
    - echo $CI_PROJECT_URL
    - echo $CI_PROJECT_VISIBILITY
    - echo $CI_REGISTRY
    - echo $CI_REGISTRY_IMAGE
    - echo $CI_REGISTRY_PASSWORD
    - echo $CI_REGISTRY_USER
    - echo $CI_SERVER
    - echo $CI_SERVER_NAME
    - echo $CI_SERVER_REVISION
    - echo $CI_SERVER_VERSION
    - echo $CI_SHARED_ENVIRONMENT
    - echo $ARTIFACT_DOWNLOAD_ATTEMPTS
    - echo $GET_SOURCES_ATTEMPTS
    - echo $GITLAB_CI
    - echo $GITLAB_USER_ID
    - echo $GITLAB_USER_EMAIL
    - echo $GITLAB_USER_LOGIN
    - echo $GITLAB_USER_NAME
    - echo $GITLAB_FEATURES
    - echo $RESTORE_CACHE_ATTEMPTS
    - echo $CHAT_INPUT
    - echo $CHAT_CHANNEL

deploy-application:
  stage: deploy
  script:
    - echo $CRASP_AUTH > ~/.clasprc.json
    - echo $CRASP_CONFIG > .clasp.json
    - npx clasp push
    - npx clasp version $DESCRIPTION
    - version=$(npx clasp versions | tail -1  | sed -e "s/^\([0-9]*\).*$/\1/g")
    - npx clasp redeploy $DEPLOYMENT_ID $version "deploy from gitlab-ci by clasp"
  only:
    - master
