image: node:8.12.0

pipelines:

  default:
    - step:
        name: echo Environment variables
        script:
          - echo $CI
          - echo $BITBUCKET_BUILD_NUMBER
          - echo $BITBUCKET_CLONE_DIR
          - echo $BITBUCKET_COMMIT
          - echo $BITBUCKET_REPO_OWNER
          - echo $BITBUCKET_REPO_OWNER_UUID
          - echo $BITBUCKET_REPO_SLUG
          - echo $BITBUCKET_REPO_UUID
          - echo $BITBUCKET_BRANCH
          - echo $BITBUCKET_TAG
          - echo $BITBUCKET_BOOKMARK
          - echo $BITBUCKET_PARALLEL_STEP
          - echo $BITBUCKET_PARALLEL_STEP_COUNT
    - step:
        name: npm install
        caches:
          - node
        script:
          - npm install
    - step:
        name: test lint
        deployment: test
        caches:
          - node
        script:
          - npx eslint code.js

  branches:
    master:
      - step:
          name: npm install
          caches:
            - node
          script:
            - npm install
      - step:
          name: test lint
          deployment: test
          caches:
            - node
          script:
            - npx eslint code.js
      - step:
          name: upload files
          deployment: production
          caches:
            - node
          script:
            - echo $CRASP_AUTH > ~/.clasprc.json
            - echo $CRASP_CONFIG > .clasp.json
            - npx clasp push

  tags:
    '*':
      - step:
          name: create new version
          deployment: production
          caches:
            - node
          script:
            - echo $CRASP_AUTH > ~/.clasprc.json
            - echo $CRASP_CONFIG > .clasp.json
            - change_log=$(tail -1 version_history | sed -e "s/^[0-9]*[[:blank:]]-[[:blank:]]\(.*\)$/\1/g")
            - npx clasp version ${change_log}
